<aside style="display: none">
  <nav>

  {%- for item in site.navigation -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    {%- assign icon = item.icon | default: item.sidebaricon -%}
    <a aria-label="{{ title }}" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
      <svg aria-hidden="true" class="icon">
        <use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use>
      </svg>
      <span aria-hidden="true">{{ title }}</span>
    </a>
  {%- endfor -%}

  {%- for item in site.external -%}
    <a href="{{ item.url }}" title="{{ item.title }}" target="_blank">
      {%- if item.icon == "bluesky" -%}
        <img src="{{ '/assets/img/bluesky.svg' | relative_url }}" alt="Bluesky" width="24" height="24" style="vertical-align: middle; margin-right: 8px;" />
      {%- else -%}
        <i class="fab fa-{{ item.icon }}"></i>
      {%- endif -%}
    </a>
  {%- endfor -%}

  </nav>
  <div class="description">{{ site.description }}</div>
</aside>
